<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlingBling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlingBling.Properties.Settings>
            <setting name="userkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="blingdb" serializeAs="String">
                <value>Data Source=d:\Users\gregg\Desktop\NTSFromChrista\BlingBling\bling.db</value>
            </setting>
        </BlingBling.Properties.Settings>
    </userSettings>
</configuration>